<h1 class="text-dark nomargin">Issue <%= @issue.issue %></h1>
<p class="lead text-muted nomargin">Volume <%= @issue.volume %> | Published <%= @issue.date.strftime("%m/%d/%Y") %></p>
<div class="divider"></div>
<div class="row">
  <div class="col-sm-3 border-sm-right">
    <% if @issue.print_version.attached? %>
      <%= link_to "Print Version", @issue.pdf_url %>
      <%= image_tag url_for(@issue.print_version.preview(resize: "500 x500")), class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-sm-9">

    <% @articles.each do |article| %>
      <%= render 'articles/horizontal_feature', article: article, heading: article.section.display_name %>
      <div class="divider"></div>
    <% end %>
  </div>
</div>