
<div class="row">
  <div class="col-lg-8">
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">x</a>
      </div>
    <% end %>

    <% @article.body_images.each do |image| %>
      <%= render 'admin/articles/picture', image: image %>
    <% end %>

    <%= form_for([:admin, @article],  id: 'article_form') do |f| %>
      <div class="form-group row">
        <%= f.label :hero_image %>
        <%= f.file_field :hero_image %>
      </div>
      <div class="form-group row">
        <%= f.label :body_images %>
        <%= f.file_field :body_images, multiple: true %>
      </div>

      <%= f.submit "Upload Images" %>
    <% end %>

    <hr>


    <%= form_for([:admin, @article], id: 'article_form') do |f| %>

      <div class="form-group row">
        <%= f.label :hero_image, class: 'col-sm-2 col-form-label' %>
        <% if @article.hero_image.attached? %>
        <div class="col-3">
          <%= image_tag url_for(@article.hero_image), class: 'img-fluid' %>
        </div>
        <% end %>
      </div>


      <div class="form-group row">
        <%= f.label :title, class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :sub_title, "Subtitle", class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :sub_title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :teaser, class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :teaser, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :hero_caption, class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :hero_caption, class: 'form-control' %>
        </div>
      </div>

      <div class="input-field editor">
        <%= f.text_area :content, placeholder: true, rows: 1, data: {editor: "codemirror"} %>
      </div>


      <div class="row form-group">
        <%= f.label :authors, class: 'col-sm-2'%>
        <div class="col-sm-10">
          <%= f.collection_check_boxes :author_ids, Author.all, :id, :name do |b|
            content_tag(:div, class: "form-check") do
              b.check_box(class: "form-check-input") + b.label(class: "form-check-label")
            end
          end %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :author_bio, "Author Bio", class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :author_bio, class: 'form-control' %>
        </div>
      </div>

      <br>

      <div class="row form-group">
        <%= f.label :sections, class: 'col-sm-2'%>
        <div class="col-sm-10">
          <%= f.collection_radio_buttons :section_id, Section.all, :id, :display_name do |b|
            content_tag(:div, class: "form-check") do
              b.radio_button(class: "form-check-input") + b.label(class: "form-check-label")
            end
          end %>
        </div>
      </div>
      <br>
      <div class="row form-group">
        <%= f.label :published_at, class: 'col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :published_at, value: (@article.published_at || Time.now).strftime("%Y-%m-%d"), 'data-behaviour' => 'datepicker', placeholder: "Published on" %>
        </div>
      </div>




      <%= f.submit %>

    <% end %>

    <br><br><br>
  </div>
</div>
