<div class="row">
  <div class="col-md-8">
    <% if @articles_unpublished.size > 0 %>
      <h2>Unpublished Articles</h2>
      <% @articles_unpublished.each do |article| %>
        <div class="row">

          <div class="col-8">
            <%= link_to article_path(article), class: "article-title" do %>
              <h4 class="mb-0 article-title text-dark"><%= article.title %></h4><p class="text-muted">By <%= display_article_authors(article) %></p>
            <% end %>
          </div>
          <div class="col-4">
            <%= link_to "Publish", admin_article_toggle_publish_path(article), method: :post, class: "btn-unpublish" %> |
            <%= link_to "Edit", edit_admin_article_path(article) %>
          </div>
        </div>
        <div class="divider"></div>

      <% end %>
    <% end %>

    <% if @articles_published.size > 0 %>
      <h2>Published Articles</h2>
      <% @articles_published.each do |article| %>
        <div class="row">

          <div class="col-8">
            <%= link_to article_path(article), class: "article-title" do %>
              <h4 class="mb-0 article-title text-dark"><%= article.title %></h4><p class="text-muted">By <%= display_article_authors(article) %></p>
            <% end %>
          </div>
          <div class="col-4">
            <%= link_to "Unpublish", admin_article_toggle_publish_path(article), method: :post, class: "btn-unpublish" %> |
            <%= link_to "Edit", edit_admin_article_path(article) %>
          </div>
        </div>
        <div class="divider"></div>

      <% end %>
    <% end %>

    <% if @articles_unpublished.size == 0 && @articles_published.size == 0 %>
      <h2>There are no articles yet</h2>
    <% else %>
      <div id="pagination">
        <%= paginate @articles, outer_window: 1, window: 2, theme: 'lines' %>
      </div>
    <% end %>
  </div>
</div>
