<br>
<div class="row">
  <div class="col-md-8">
    <% cache article do %>
      <div class="article_header section">
        <%= content_tag :h1, article.title, style: "margin-bottom: 0"%>
        <%= content_tag :p, article.sub_title, class: 'lead nomargin'%>
        <small class="text-muted"%>By <%= display_article_authors(article) %> | Published <%= article.published_at.strftime("%m/%d/%Y")%></small>

      </div>
      <% unless article.image_url.blank? %>
        <div class="hero_image">
          <%= link_to article_path(article) do %>
            <img src="<%= article.image_url %>" alt="<%= article.title %>" class="img-fluid" />
          <% end %>

          <small class="section">caption</small>
        </div>
      <% end %>

      <div class="article_content">
        <%= markdown article.content %>
        <% if article.document? %>
          <div class="article_document">
            <%= link_to "Download #{article.document.file.filename}", article.document_url %>
          </div>
        <% end %>
      </div>

      <% unless article.gplus_url.blank? %>
        <div class="article_googleplus">
          <a href="<%= article.gplus_url %>">Discuss this article at Google+</a>
        </div>
      <% end %>

      <hr>

      <div class="article_footer">
        Written on <span class="published_at"><%= article.published_at.to_date %></span> by <%= display_article_authors(article, true) %>
      </div>

    <% end %>
  </div>
  <div class="col-md-2">
    Other content can go here
  </div>
</div>
