<div class="row">
  <div class="col-lg-7">
    <% cache article do %>
      <div class="article_header">
        <%= content_tag :h1, article.title, style: "margin-bottom: 0"%>
        <%= content_tag :p, article.sub_title, class: 'lead nomargin'%>
        <small class="text-muted"%>By <%= display_article_authors(article) %> | Published <%= article.published_at.strftime("%m/%d/%Y")%></small>
      </div>
      <div class="divider"></div>
      <% unless article.image_url.blank? %>
        <div class="hero_image">
          <%= link_to article_path(article) do %>
            <img src="<%= article.image_url %>" alt="<%= article.title %>" class="img-fluid" />
          <% end %>

          <div class="img-caption text-muted">
            <% unless article.hero_caption.nil? || article.hero_caption.empty? %>
              <%=  article.hero_caption  %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="article_content">
        <%= markdown article.content %>
        <% if article.document? %>
          <div class="article_document">
            <%= link_to "Download #{article.document.file.filename}", article.document_url %>
          </div>
        <% end %>
      </div>

      <hr>

      <div class="article-footer">
        <%= article.author_bio %>
      </div>

    <% end %>
  </div>
  <div class="col-lg-3">
    <h4 class="normal-weight text-dark">Recommended For You</h4>
    <%= render 'articles/article_collection', params: {articles: Article.all.sample(3)} %>
  </div>
</div>
