
<div class="row">
  <h5 class="normal-weight "><%= heading %></h5>
  <div class="col-6">
    <%= link_to article_path(article), class: "article-title" do %>
      <h3 class="mb-0 article-title text-dark"><%= article.title %></h3><p class="text-muted">By <%= display_article_authors(article) %></p>
    <% end %>
    <p class="nomargin"><%= article.teaser %></p>
  </div>
  <div class="col-6">
    <% unless article.image_url.blank? %>
      <img src="<%= article.image_url %>" alt="<%= article.title %>" class="img-fluid " />
    <% end %>
  </div>
</div>
