<div>
  <% if params[:image] %>
    <% if params[:article].hero_image.attached? %>
      <div class="article-image">
        <%=  link_to article_path(params[:article]) do  %>
          <img src="<%= url_for article.hero_image %>" alt="<%= article.title %>" class="img-fluid " />
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to article_path(params[:article]), class: "article-title" do %>
    <h5 class="mb-0 article-title text-dark"><%= params[:article].title %></h5>
  <% end %>
  <small class="text-muted">By <%= display_article_authors(params[:article]) %></small><br>
  <small class="nomargin"><%= params[:article].teaser.html_safe unless params[:article].teaser.nil? %></small>
</div>