<!-- this is the home page. -->
<div class="row section">
  <div class="col-lg-6">
    <%= render 'articles/article_feature', article: @main %>
  </div>
  <div class="col-lg-3 border-lg-right border-sm-top border-lg-top-0">
    <h4 class="normal-weight text-dark">News</h4>
    <%= render'articles/article_collection', params: {articles: @side_news} %>
  </div>
  <div class="col-lg-3 border-sm-top border-lg-0">
    <h4 class="normal-weight text-dark">Opinion</h4>
    <%= render'articles/article_collection', params: {articles: @opinion} %>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col-lg-3 border-lg-right">
    <%= render'articles/article_collection', params: {articles: @other_news} %>
  </div>

  <div class="col-lg-6 border-lg-right ">
    <%= render 'articles/horizontal_feature', article: @faculty_profile, heading: "Faculty Profile" unless @faculty_profile.nil?%>
    <div class="divider" ></div>
    <%= render 'articles/horizontal_feature', article: @culture_feature, heading: "Culture" unless @culture_feature.nil? %>
  </div>

  <div class="col-lg-3">
      <%= render'articles/article_collection', params: {articles: @announcements} %>
  </div>
</div>

<br>

