<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Codemirror Start -->
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/codemirror/theme/lines.css" type="text/css" media="all" />
  <script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="/codemirror/addon/display/placeholder.js"></script>
  <script type="text/javascript" src="/codemirror/addon/mode/overlay.js"></script>
  <script type="text/javascript" src="/codemirror/addon/selection/active-line.js"></script>
  <script type="text/javascript" src="/codemirror/mode/markdown/markdown.js"></script>
  <script type="text/javascript" src="/codemirror/mode/gfm/gfm.js"></script>
  <%= display_meta_tags site: CONFIG[:title_short] %>
  <!-- Codemirror End -->
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "lines/admin/admin", media: "all" %>
  <%= stylesheet_link_tag    "lines/application", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "lines/application" %>
  <%= javascript_include_tag "lines/admin/admin" %>
  <%= csrf_meta_tags %>
  <title>California Tech Admin Panel</title>
  <%= yield(:head) %>
</head>
<body>

<div class="wrapper">
  <%= render 'layouts/navbar', env: :admin %>

  <main role="main" class="container">
    <%= render 'shared/flash' %>
    <%= yield %>
  </main>
</div>

<%= render 'shared/footer' %>
</body>
</html>