<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8" />
  <meta name="author" content="<%= CONFIG[:meta_author] %>" />
  <meta name="revisit-after" content="3 days" />
  <meta name="robots" content="<%= CONFIG[:meta_robots] || 'index,follow' %>" />
  <%= display_meta_tags site: CONFIG[:title_short] %>
  <meta name="geo.position" CONTENT="<%= CONFIG[:geo_position] %>">
  <meta name="geo.placename" CONTENT="<%= CONFIG[:geo_address] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag %>
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, articles_url(format: "atom"), {title: CONFIG[:feed_title]}) %>
  <%= stylesheet_link_tag    "lines/application", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "lines/application" %>
  <%= csrf_meta_tags %>
</head>

<body class="vsc-initialized">

<!--= render 'layouts/markdown_cheatsheet' %-->
<div class="wrapper">
  <%= render 'layouts/navbar', env: :public %>

  <main role="main" class="container">
    <%= render 'shared/flash' %>
    <%= yield %>
  </main>
</div>


<%= render 'shared/footer' %>

</body>
</html>
